.users
  margin: 30px
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  width: 100%

.usersPageContent
  width: 100%

.search
  margin-bottom: 30px

.emptyText
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.error
  display: flex
  align-items: center
  height: 100%
  text-align: center

.reset
  width: auto
  border-radius: unset
  padding: 5px
  margin-bottom: 30px